:root{
    background-color: blanchedalmond;
}

.buttonLayout{
    display:grid;
    gap:40px;
    margin:45px;
    grid-template-columns: repeat(2,automatic);
}

.hidden{
    display:none;
}

.landingpageBox{
    position: relative;
    width:750px;
    height:300px;
    left: 550px;
    top: 50%;
    background-color: rgb(168, 162, 162);
    font-family: monospace;
    font-size: 35px;
    color:rgb(255, 255, 255);
    text-align:center;
    margin-top: 90px;
    padding-top: 10px;
}

.timerControl{
    display:flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

#timer{
    position: absolute;
    font-family: monospace;
    font-size: 50px;
    top: 80px;
    left: 100px;
    width: 500px;
    height: 100px;
}

.btn{
    font-size: 20px;
    background-color: rgb(240, 233, 233);
}

.btn:hover{
    background-color: black;
    color:white;
}
.btn .correctAnswer{
    background-color: rgb(87, 192, 87);
}

.btn .wrongAnswer{
    background-color: rgb(226, 83, 83);
}

#restartBtn {
    background-color:cornsilk;
    font-size: xx-large;
    position:absolute;
    top: 20%;
    width: 300px;
    height: 80px;
}
#pregameText {
    text-align: center;
}
#pregameText p {
    display: inline-block;
    vertical-align: middle;
    font-size: xx-large;
}

#score {
    position: absolute;
    font-size: x-large;
    top: 100px;
    left: 650px;
}

#question {
    font-size:xx-large;
    text-align: center;
}

#nameBox {
    position: relative;
    top: 50%;
    left: 80%;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}